body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}
h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

#clock{
    text-align: center;
    font-size: 10vw;
    padding: 20px;
    background-color: #555;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

  
@media only screen and (min-width: 600px) {
    /* Styles for iPads */
    #clock {
      font-size: 5vw;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* Styles for larger iPads and landscape mode */
    #clock {
      font-size: 7vw;
    }
  }
