body {
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}
<<<<<<< HEAD
h1{
  display: flex;
  justify-content: center;
    align-items: center;
    font-size: 50px;
    color: black;

}

=======
h2 {
        text-align: center;
        font-size: 2rem;
  }
>>>>>>> 6bcfbba5417d155f15631647dcb40faec02f6655
#clock{
    text-align: center;
    /* font-size: 10vw; */
    padding: 20px;
    background-color: #555;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: flex;
  justify-content: center;
    align-items: center;
    margin: 0 23%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
#clock:hover{
  transform: scale(1.05);
}
  
@media only screen and (min-width: 600px) {
    /* Styles for iPads */
    #clock {
      font-size: 5vw;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* Styles for larger iPads and landscape mode */
    #clock {
      font-size: 7vw;
    }
  }
